#product-details .single-img{
    width: 40%;
    margin-right: 50px;
    margin-bottom: 15px;
}
.small-img-product{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  margin-top: 15px;
  flex-basis: 24%;
  cursor: pointer;
}

#product-details {
  display: flex;
  margin-top: 20px;
  width: 100%;
  box-shadow: 10px 10px 54px rgba(37, 37, 37, 0.1); 
}
#product-details .single-product-details{
    width: 50%;
    padding-top: 30px;
} 
#product-details .single-product-details h4{
  padding: 40px 0 20px 0;
}
#product-details .single-product-details h2{
  font-size: 26px;
}
#product-details .single-product-details input{
  width: 15%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin: 0 10px 20px 20px ;
  text-align: center;
}

#product-details .single-product-details button{
  background-color: #408db9;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 17px;
}

#product-details .single-product-details input:focus{
  outline: none;
}
#product-details .single-product-details span{
  line-height: 25px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }