* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: #0d6efd;
}

.wrapper {
    width: 500px;
    height: min-content;
    padding: 50px;
    border-radius: 15px;
    background-color: #fff;
}

.wrapper h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.wrapper form {
    font-size: 20px;
}

.wrapper form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}